@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Righteous&family=Sarala&display=swap');

:root {
    --color-primary: #093028;
    --color-sucess: #237A57;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f2f2f2;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shaddow: 0 2rem 3rem var(--color-light);
}

/* DARK THEME */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #282e31;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* COMEÇO ESTILIZAÇÃO */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin-top: -1.5rem;
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.90rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

/* COMEÇO ESQUERDA */
aside {
    background: var(--color-background);
    padding-right: 5rem;
    padding-bottom: 10%;
}

aside .esquerda {
    margin-right: 75.15rem;
}

aside .imagem-profile {
    margin-bottom: 1rem;
    padding-top: 10px;
    color: var(--color-sucess)
}

aside .profile {
    gap: 0.6rem;
    margin-left: 30px;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 95vh;
    position: relative;
    width: 17rem;
    margin-bottom: -20rem;
}

aside h3 {
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    color: var(--color-sucess);
    margin-left: 1.7rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
    margin-top: 3rem;
}

aside .sidebar a span {
    font-size: 1.8rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 15rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.8rem;
}

/* COMEÇO MAIN */
.containerMain {
    height: 80.4rem;
    margin-top: -70.1rem;
    width: 85%;
    margin-left: 17rem;
    background: var(--color-white);
    display: flex;
    position: absolute;
    border-left: 0.28rem solid var(--color-sucess); 
}

.containerMain h1 {
    margin-top: 24rem;
    margin-left: 2rem;
}

.header .top {
    display: flex;
    gap: 2rem;
    position: absolute;
    margin-left: 2rem;
}

.header .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.header .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}