.agora {
    background: rgba(184, 184, 184, 0.61);
}

.containerLogin {
    height: 100vh;
}

.login {
    height: 30rem;
    width: 60rem;
    margin-left: 13rem;
    margin-top: 7.5rem;
    border-radius: 2%;
    background: #f2f2f2;
    position: relative;
    box-shadow: 0 0 20px 0px black;
}

.inputs {
    width: 50%;
}

.inputs h2 {
    font-size: 28px;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #06251f;
}

.imagem {
    width: 50%;
}

.imagem img {
    height: 400px;
    width: 400px;
    margin-left: 97%;
    margin-top: -17.5rem;
    position: relative;
}

.inputs .texto {
    padding-left: 2rem;
}

input {
    width: 200px;
    padding-left: 4px;
}

button {
    border: 0.5px solid #06251f;
    margin-top: 2rem;
    margin-left: 5rem;
    width: 100px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px 0 #06251f;
    transition: all 300ms;
    cursor: pointer;
    background: white;
}

button:hover {
    box-shadow: none;
    color: white;
    background: #06251f;
}

.esqSenha {
    margin-left: 2rem;
    font-size: 13px;
    text-decoration: none;
}

.esqSenha a {
    text-transform: uppercase;
    font-weight: 800;
    color: green;
}

input:focus{
    background: #f2fff5;
}