.agora {
    background: rgba(184, 184, 184, 0.61);
}

.containerCadastro {
    height: 100vh;
}

.cadastro {
    height: 30rem;
    width: 60rem;
    margin-left: 13rem;
    margin-top: 7.5rem;
    border-radius: 2%;
    background: white;
    position: relative;
    box-shadow: 0 0 20px 0px black;
}

.inputs h2 {
    font-size: 28px;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #06251f;
    margin-left: 52%;
    margin-top: -28.5rem;
}

.inputs b {
    text-align: center;
    color: #06251f;
    margin-left: 37rem;
}

.imagem img {
    height: 400px;
    width: 400px;
    margin-left: 10%;
    margin-top: 3rem;
    position: relative;
}

.inputs .texto {
    padding-left: 2rem;
    margin-top: -1rem;
}

input {
    width: 200px;
    padding-left: 4px;
    margin-left: 37rem;
}

button {
    border: 0.5px solid #06251f;
    margin-top: 2rem;
    margin-left: 42rem;
    width: 100px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px 0 #06251f;
    transition: all 300ms;
    cursor: pointer;
}

button:hover {
    box-shadow: none;
    color: white;
    background: #06251f;
}

input:focus{
    background: #f2fff5;
}

.cadastro span{
    margin-left: 36.5rem;
    font-size: 13px;
    text-decoration: none;
}

.cadastro a {
    text-transform: uppercase;
    font-weight: 800;
    color: green;
}