header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms;
}

header .logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 8px 8px;
    color: white;
    border-radius: 60px;
    transition: all 250ms;
}

header ul li a:hover
{
    background: white;
    color: rgb(0, 100, 55);
}

#cadastro {
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    padding: 5px;
    margin-left: -6.8px;
    margin-right: -6.8px;
}