@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200&display=swap');
@import url('http://fonts.cdnfonts.com/css/monument-extended');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Poppins:wght@300;400;500;600;700;800&family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*::selection {
    color: #6a9986;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: linear-gradient(#093028, #237A57);
}

/* MAIN (INICIO)*/
.div1 {
    width: 100%;
    height: 100px;
}

.logo {
    transition: all 300ms;
}

.logo:hover {
    color: green;
}

.banner {
    height: 70vh;
}

.banner .container {
    margin-left: 25rem;
}

.banner p {
    color: rgb(255, 255, 255);
    width: 550px;
    margin: 0;
    padding: 20px;
    border-radius: 15px;
    font-size: 48px;
    text-align: center;
    background-color: rgba(0, 29, 16, 0.644);
    font-family: 'Monument Extended', sans-serif;
    position: relative;
    letter-spacing: 2px;
    line-height: 65px;
    margin-top: 11rem;
}

.banner span {
    font-weight: bold;
    color: rgb(101, 219, 54);
}

a {
    text-decoration: none;
}

#up{
    font-family: 'Monument Extended', sans-serif;
}

#up1{
    font-family: 'Monument Extended', sans-serif;
}

#none {
    text-decoration: none;
}

/* FIM INICIO */
/* COMEÇO HISTÓRIA */

.containerH .tituloH {
    text-align: center;
    color: white;
    margin-bottom: 5rem;
    font-size: 40px;
    font-weight: 450;
}

.containerH {
    background: linear-gradient(#247454, #093028);
    height: 75vh;
    width: 100vw;
}

.containerH .historias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.historias p{
    padding: 2rem;
    color: #093028;
    font-size: 20px;  
}

.div_hist {
    border-radius: 50px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.div_hist:hover {
    box-shadow: none;
}

.div_hist1 {
    border-radius: 50px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.div_hist1:hover {
    box-shadow: none;
}

.div_hist2 {
    border-radius: 50px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.div_hist2:hover {
    box-shadow: none;
}

/* FIM HISTÓRIA*/
/* COMEÇO TÍTULOS */
.div2 {
    background-color: #093028;
    height: 110px;
    width: 100%;
}

#tit {
    background: linear-gradient(#082c25, #155339);
}

.tituloT {
    height: 17rem;
}

.text {
    margin-left: 11.5rem;
    margin-bottom: 10rem;
    color: white;
    font-size: 40px;
    font-weight: 450;
    position: absolute;
}

.tituloT #imgMundial {
    margin-left: 3rem;
    height: 17rem;
    width: 23rem;
    border-radius: 5px;
}

.tituloT #imgMundial1 {
    margin-left: 31rem;
    height: 17rem;
    width: 23rem;
    border-radius: 5px;
}

.caixasT p{
    padding: 2rem;
    color: #093028;
    font-size: 20px;  
    font-weight: 800;
}

.caixasT {
    display: flex;
    justify-content: space-around;
}

.caixasT .caixa1 img {
    height: 150px;
    width: 150px;
    margin-top: 110px;
}

.caixasT .caixa1 .textCaixa1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin-top: 25px;
}

.caixasT .caixa1 {
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.caixa1:hover {
    box-shadow: none;
}

.caixasT .caixa2 img {
    height: 150px;
    width: 150px;
    margin-top: 110px;
}

.caixasT .caixa2 .textCaixa2 {
    margin-left: 3rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin-top: 25px;
}

.caixasT .caixa2 {
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.caixa2:hover {
    box-shadow: none;
}

.caixasT .caixa3 img {
    height: 150px;
    width: 150px;
    margin-top: 110px;
}

.caixasT .caixa3 .textCaixa3 {
    margin-left: 3rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin-top: 25px;
}

.caixasT .caixa3 {
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.caixa3:hover {
    box-shadow: none;
}

/* CONTAINER T1 */

.caixasT1 p{
    padding: 2rem;
    color: #093028;
    font-size: 20px;  
    font-weight: 800;
}

.caixasT1 {
    display: flex;
    justify-content: space-around;
}

.caixasT1 .caixa4 img {
    height: 150px;
    width: 150px;
    margin-top: 110px;
}

.caixasT1 .caixa4 .textCaixa4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin-top: 15px;
    margin-left: -55px;
}

.caixasT1 .caixa4 {
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.caixa4:hover {
    box-shadow: none;
}

.caixasT1 .caixa5 img {
    height: 150px;
    width: 150px;
    margin-top: 110px;
}

.caixasT1 .caixa5 .textCaixa5 {
    margin-left: 3rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin-top: 25px;
    margin-left: -25px;
}

.caixasT1 .caixa5 {
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.caixa5:hover {
    box-shadow: none;
}

.caixasT1 .caixa6 img {
    height: 150px;
    width: 150px;
    margin-top: 110px;
}

.caixasT1 .caixa6 .textCaixa6 {
    margin-left: 3rem;
    color: rgb(0, 0, 0);
    font-size: 14.6px;
    font-weight: 400;
    position: absolute;
    margin-top: -26px;
    margin-left: -10px;
}

.caixasT1 .caixa6 {
    text-align: center;
    border-radius: 10px;
    background: white;
    height: 22rem;
    width: 20rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    transition: all 250ms;
}

.caixa6:hover {
    box-shadow: none;
}

/* FIM TÍTULOS */
/* COMEÇO CONTATO */

.div3 {
    background-color: #155339;
    height: 80px;
    width: 100%;
}

.containerC {
    padding-left: 1.5rem;
    background: linear-gradient(#155339, #093028);
}

.containerC .text {
    margin-left: 1rem;
    margin-top: 2rem;
}

#subtitulo {
    padding-top: 7em;
    color:#dcffe5;
}

fieldset {
    border: 0;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #ffffff;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #dcffe5;
}

.botao {
    width: 120px;
    height: 50px;
    font-size: 15px;
    position: absolute;
    border: 0;
    color: white;
    background: linear-gradient(to top right, rgb(4, 48, 0), rgb(7, 78, 0));
    border-radius: 15px;
    left: 33%;
    margin-top: -6.5rem;
    cursor: pointer;
    padding: 5px;
}

.botao:hover {
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 32px -7px #ffffff;
}

@keyframes botao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.check {
    display: inline-block;
}

.check label {
    color: #dcffe5;
}

fieldset.grupo strong{
    color: white;
}